h1
{
font-family: calibri;
font-size: 30px;
font-style: normal;
font-weight: bold;
color: #008080;
text-decoration: underline;
text-align: center;
text-indent: 100px;
text-transform: uppercase;
text-shadow: 7px 7px 6px #333;
}
p
{
font-family: verdana;
font-size: 20px;
font-style: italic;
text-transform: uppercase;
text-indent: 100px;
color: #40A097;
text-shadow: 10px 10px 5px #ccc;
}